

.gallery{
   
    background:#ffffff;
    padding-bottom: 1px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    list-style: none;
}

.gallery .controls .buttons{
    height:100%;
    width: 140px;
    background:#fff;
    color:#666;
    font-size: 13px;
    line-height: 40px;
    cursor: pointer;
    margin:20px;
    box-shadow: 0 3px 5px #03e3fc;
    text-align: center;
    
}

.gallery .controls .buttons.active{
    background:#03e3fc;
    box-shadow: 0 6px 5px rgba(0,0,0,.3);
    color:#fff;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image{
    height:250px;
    width: 350px;
    overflow: hidden;
    border:15px solid #fff;
    box-shadow: 0 3px 5px rgb(70, 216, 252);
    margin: 20px;
}

.gallery .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img{
    transform: scale(1.4);
}