		@media screen and (max-width:700px) {
			img{
				max-width: 100%;
				height: auto;
				border-radius:6px;
			}
		}
	
			.marquee-text{
				color:white;
				}
			.nav-bg{background-color:#03e3fc;}
			.nav-bg1{background-color:white;}
			.navtext{
				color:black;
				font-family:Georgia,serif;
				font-size:18px;
				border-radius:80px;
				display:inline-block;
				justify-content:center;
				}
			.navtext:hover{
				color:white;
				font-family:Georgia,serif;
				font-size:18px;
				border-radius:80px;
				background:#03e3fc;
				display:inline-block;
				justify-content:center;
				}
			.activee{
				color:#03e3fc;
				text-decoration: n;
			}
			
			.mobicon{
				font-family:Georgia,serif;
				margin-left:5px;
				color:white;
				text-decoration:none;
			}
			.mob{
				color:white;
				font-family:gothic;
				align-items: center;
				
				}
			.mob:hover{
				color:black;
				text-decoration:none;
				}
			.carousel-img {
				width: 100%;
				height: 100%;
				}
			
			.searchbox{
				height:30px;
				background: white;
				width: 250px;
				border-radius: 20px;
				display: flex;
				align-items: center;
				margin-top:6;
				margin-left:15;
			}
			.searchbox input{
				width:100%;
				background:transparent;
				padding:10px;
				outline:1px black;
				border:0;
				}
				
		.wp{
			width:35px;
            height:35px;
			border-radius:100%;
            border: white solid 2px;
			background:#fb5d8c;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
			text-decoration:none;
			}
			.wp:hover{
			width:35px;
            height:35px;
			border-radius:100%;
            border: #00d9ff solid 2px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
			text-decoration:none;
			}
			
		a.social {
            background-color: #fff;
            width:35px;
            height:35px;
            border-radius:100%;
            border: black solid 1.3px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a.social::before {
            content: '';
            background-color: #f0f;
            width:100%;
            height:100%;
            position:absolute;
            top: 100%;
            transition:0.5s all ease-in-out;
        }

        a.social:hover::before {
            top: 0;
        }

        a.social.facebook::before {
            background-color: #3a5796;
        }
        a.social.instagram::before {
            background-color: white; 
            background-image: linear-gradient(0deg,  #feda75,  #fa7e1e, #d62976 , #962fbf , #4f5bd5);
        }

        a.social svg {
            width:15px;
            height:20px;
            position: relative;
            z-index: 1;
            transition: 0.5s all ease-in-out;
        }

        a.social:hover svg {
            transform: rotate(360deg);
        }

        a.social svg path {
            fill:black;
            transition: 0.5s all ease-in-out;
        }

        a.social:hover svg path {
            fill: #fff;
        }
        
	 /* dropdown hover  */
		
			.dropbtn {
			  background-color: #04AA6D;
			  color: white;
			  padding: 16px;
			  font-size: 16px;
			  border: none;
			}

			.dropdown {
			  position: relative;
			  display: inline-block;
			}

			.dropdown-content {
			  display: none;
			  position: absolute;
			  background-color: #f1f1f1;
			  min-width: 160px;
			  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			  z-index: 1;
			}

			.dropdown-content a {
			  color: black;
			  background:white;
			  padding: 12px 16px;
			  text-decoration: none;
			  display: block;
			}
			.dropdown-content a:hover {background-color: #ddd;}
			.dropdown:hover .dropdown-content{display: block;}
			.dropdown:hover .dropbtn{background-color:white;}
			
				
				
			.icons{
				top:50%;
				right:0;
				transform:translateY(-50%);
				position: absolute;
				z-index:100;
				
			}
			.icons ul li{
				border:2px solid white;
				border-radius:50px;
				height:40px;
				width:40px;
				list-style-type:none;
				padding-left:11px;
				padding-top:6px;
				color:white;
				align-items:center;
				}
			.whatsapp1{
				background-color:#03e3fc;
				transition:transform 0.8s;
			}
			.whatsapp1:hover{
				background-color:#4FCE5D;
				-ms-transform: scale(4); 
				-webkit-transform: scale(1.2);
				transform: scale(1.2); 
				transition:transform 0.8s;
				
				
			}
			.instagram1{
				background-color:#03e3fc;
				transition:transform 0.8s;
				
			}
			.instagram1:hover{
				background-image: linear-gradient(0deg,  #feda75,  #fa7e1e, #d62976 , #962fbf , #4f5bd5);
				-ms-transform: scale(4); 
				-webkit-transform: scale(1.2);
				transform: scale(1.2); 
				transition:transform 0.8s;
			}
			.facebook1{
				background-color:#03e3fc;
				transition:transform 0.8s;
			}
			.facebook1:hover{
				background-color:#3a5796;
				-ms-transform: scale(4); 
				-webkit-transform: scale(1.2);
				transform: scale(1.2); 
				transition:transform 0.8s;
			}
			
			.imgs{
				height:100%;
				max-width:100%;
				width:auto;
				height:270px;
			  }
			
	
			.servicetext{
				font-family:cursive;
				font-weight: bold;
			}
			.span{
				   white-space: nowrap;
        overflow: hidden;
			}
			.service{
				text-align:center;
				font-family:cursive;
				margin-top:15;
				margin-bottom:15; 
				box-shadow: 5px 6px 5px #acf6fa;
				box-sizing: border-box;
			}
			.service1{
				text-align:center;
				font-family:cursive;
				margin-bottom:15; 
				box-shadow: 5px 6px 5px #acf6fa;
				box-sizing: border-box;
			}
			

				/* testimonials */
				.box-area {
					padding: 30px;
					position: relative;
					display: block;
					background:rgb(217, 255, 255);
					color: #000;
					border-radius:2%;
					margin-top: 20px;
					margin-bottom: 6px;
				}
				.box-area h5 {
					font-size: 16px;
					font-weight: 700;
					color: #0a69ed;
					font-family: cursive;
					margin-bottom: 5px;
					
				}


				.box-area .content {
					justify-content: center;
					text-align: center;
					color:rgb(22, 22, 22);
					font-size: 15px;
					font-family: Georgia, 'Times New Roman', Times, serif;
					font-weight: 500;
					text-decoration: bold;
				}
				#testimonial_area .owl-nav {
					position: absolute;
					top: 50%;
					width: 100%;
				}
				#testimonial_area .owl-prev, #testimonial_area .owl-next {
					width: 40px;
					height: 40px;
					line-height: 40px;
					color: #0a69ed;
					border-radius: 50%;
					text-align: center;
					background: #fff;
					position: absolute;
				}
				#testimonial_area .owl-prev {
					left: -50px;
					top: 50%;
				}
				#testimonial_area .owl-next {
					right: -50px;
					top: 50%;
				}
				@media only screen and (max-width: 991px) {
					.owl-nav {
						display: none;
					}
				}
				@media only screen and (max-width: 767px) {
					.box-area {
						text-align: center;
					}
					.owl-nav {
						display: none;
					}
				}
					
				.scroll {
					width: 300px;
					height: 160px;
					overflow: auto;
					}
					.scroll::-webkit-scrollbar {
						width: 5px;
						display:none;
					}

					.scroll::-webkit-scrollbar-track {
						-webkit-box-shadow: inset 0 0 6px rgb(79, 78, 78); 
						border-radius: 10px;
					}

					.scroll::-webkit-scrollbar-thumb {
						border-radius: 10px;
						-webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); 
					}

				/* footer */

				.site-footer
				{
				background-color:#000000;
				padding:45px 0 20px;
				font-size:15px;
				line-height:24px;
				color:#737373;
				}
				.site-footer hr
				{
				border-top-color:#bbb;
				opacity:0.5
				}
				.site-footer hr.small
				{
				margin:20px 0
				}
				.site-footer h6
				{
				color:#fff;
				font-size:16px;
				text-transform:uppercase;
				margin-top:10px;
				letter-spacing:2px
				}
				.site-footer a
				{
				color:#737373;
				}
				.site-footer a:hover
				{
				color:#3366cc;
				text-decoration:none;
				}
				.footer-links
				{
				padding-left:0;
				list-style:none
				}
				.footer-links li
				{
				
				display:block
				}
				.footer-links a
				{
				color:#737373
				}
				.footer-links a:active,.footer-links a:focus,.footer-links a:hover
				{
				color:#09efff;
				text-decoration:none;
				}
				.footer-links.inline li
				{
				display:inline-block
				}
				.site-footer .social-icons
				{
				text-align:right
				}
				.site-footer .social-icons a
				{
				width:40px;
				height:40px;
				line-height:40px;
				margin-left:6px;
				margin-right:0;
				border-radius:100%;
				background-color:#33353d
				}
				.copyright-text
				{
				margin:0
				}
				@media (max-width:991px)
				{
				.site-footer [class^=col-]
				{
					margin-bottom:30px
				}
				}
				@media (max-width:767px)
				{
				.site-footer
				{
					padding-bottom:0
				}
				.site-footer .copyright-text,.site-footer .social-icons
				{
					text-align:center
				}
				}

				.footerimg
				{
				max-width:100% ;
				height:80px;
				margin:40px 0px 0px 20px;

				}

				/* banner */
				.containerbanner {
					margin-top: 50px;
					position: relative;
					text-align: center;
					color: white;

				}
				
				.centered h1{
					font-weight: bold;
					font-family: gothicb;
					font-size: 5vw;
					color: #000000;
					position: absolute;
					top: 45%;
					left: 30%;
					transform: translate(-50%, -50%);
				}
				.centered p{
					font-weight: bold;
					font-family: cursive;
					font-size: 2vw;
					color: #000000;
					position: absolute;
					top: 65%;
					left: 30%;
					transform: translate(-50%, -50%);
				}
				.centered a{
					position: absolute;
					top: 75%;
					left: 28%;
					transform: translate(-50%, -50%);
					background:#688eff;
					font-family:gothicb;
					color:rgb(255, 255, 255);
					display:inline-block;
					font-size:2vw;
					padding: 0px 20px;
					border:1px solid #ffffff;
					border-radius:50px
					
				}
				.centered a:hover{
					position: absolute;
					top: 75%;
					left: 28%;
					transform: translate(-50%, -50%);
					text-decoration: none;
					font-family:gothicb;
					color:#ffffff;
					display:inline-block;
					font-size:2vw;
					border:1px solid #ffffff;
					border-radius:50px;	
					background:#03e3fc;
				}

				/* banner 2 */
				.centered2 h1{
					font-weight: bold;
					font-family: gothicb;
					font-size: 5vw;
					color: #000000;
					position: absolute;
					top: 40%;
					left: 36%;
					transform: translate(-50%, -50%);
				}
				.centered2 p{
					font-weight: bold;
					font-family: cursive;
					font-size: 2vw;
					color: #000000;
					position: absolute;
					top:60%;
					left:24%;
					transform: translate(-50%, -50%);
				}
				.centered2 a{
					position: absolute;
					top: 70%;
					left: 20%;
					transform: translate(-50%, -50%);
					background:#07d6f6;
					font-family:gothicb;
					color:rgb(255, 255, 255);
					display:inline-block;
					font-size:2vw;
					padding: 0px 20px;
					border:1px solid #ffffff;
					border-radius:50px
					
				}
				.centered2 a:hover{
					position: absolute;
					top: 70%;
					left: 20%;
					transform: translate(-50%, -50%);
					text-decoration: none;
					font-family:gothicb;
					color:#0ee8f7;
					display:inline-block;
					font-size:2vw;
					border:1px solid #00c3ff;
					border-radius:50px;	
					background:#ffffff;
				}

				/* gallery */
				.imgh:hover {
					-ms-transform: scale(2); 
					-webkit-transform: scale(2); 
					transform: scale(0.97); 
					display: block;
					opacity:0.7;
					cursor: pointer;
				}
				.modal{
					display: none;
					position: absolute;
					padding-top: 100px;
					width: 100%;
					height: 100%;
					z-index: 1;
				}
				.modalbg{
					background: rgba(0,0,0,0.7);
				}				
				.modal-content{
					position: relative;
					background-color: #fefefe;
					margin: auto;
					width: 50%;
					max-width: 800px;
				}

				.close {
					position: absolute;
					top: 8.8%;
					right:24%;
					cursor: pointer;
				}
				
				
				.mySlides {
					display: none;
				}
				
				.prev,
				.next {
					cursor: pointer;
					position: absolute;
					top: 50%;
					width: auto;
					padding: 16px;
					margin-top: -50px;
					color: white;
					font-weight: bold;
					font-size: 20px;
					transition: 0.6s ease;
					border-radius: 0 3px 3px 0;
					user-select: none;
					-webkit-user-select: none;
				}
				
				.next {
					right: 0;
					border-radius: 3px 0 0 3px;
				}
				.numbertext {
					color: #f2f2f2;
					font-size: 12px;
					padding: 8px 12px;
					position: absolute;
					top: 0;
				}
				
				.color{
					background-color: #03e3fc;
				}
				.activee{
					color: #0ee8f7;
				}
				.activee:hover{
					color: white;
				}
				

				/* Traditional backdrop */
				.backdropimg img{
					max-width: 100%;
					height: 350px;
				}

			/* sidebar small screen */
				.sidebar {
					height: 100%;
					width: 0;
					position: fixed;
					z-index: 1;
					top: 0;
					left: 0;
					background-color: #1e1e1e;
					overflow-x: hidden;
					transition: 0.5s;
					padding-top: 50px;
				  }
				  
				  .sidebar li {
					padding: auto;
					text-decoration: none;
					font-size:15px;
					color: #ffffff;
					display: block;
					transition: 0.3s;
				  }
				  .sidebar li a{
					color: #ffffff;
				  }
				 
				  .sidebar .closebtn {
					position: absolute;
					top: 0;
					right: 25px;
					font-size: 36px;
					margin-left: 50px;
					color: #ffffff;
				  }
				  
				  .openbtn {
					margin-left: 5px;
					cursor: pointer;
					background-color: #ffffff;
					border: none;
				  }
				  
				  #main {
					transition: margin-left .5s;
					padding: 16px;
				  }
				  
				  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
				  @media screen and (max-height: 450px) {
					.sidebar {padding-top: 15px;}
					.sidebar a {font-size: 18px;}
				  }

